<template name="HomeLayout">
    {{> Header}}
    <main>
        <div class="billboard" align="center" style="font-size:140%">
            <h2> Welcome to hungry!</h2>
        </div>
    </main>
    <div align="center" style="padding-top: 40px;">
        {{> SearchIngred}}
    </div>
    <div align="center" style="padding : 80px; font-size:180%">
        <a href="/shopping-list"><i class>Shopping List</i></a>
        &nbsp;
        &nbsp;
        <a href="/festive"><i class>Festive Recipes</i></a>
    </div>
    <footer>
        {{> MoreInfo}}
    </footer>
</template>