<template name="MoreInfo">
    <nav class="more-info">
        <ul>
            <li><a href="/about-us"><i class>About Us
            </i></a></li>
            <li><a href="/suggest-new-recipe"><i class>Suggest New Recipe
            </i></a></li>
            <li><a href="/how-to-use"><i class>How To Use
                </i></a></li>
        </ul>
    </nav>
</template>

<template name="AboutUs">
    <h2>About the developers</h2>
    <p>We are the corned beef sandwich, from orbital 2018.</p>
</template>

<template name="NewRecipes">
    {{> InsertRecipe}}
</template>

<template name="HowToUse">
    <h2>Functions</h2>
    <p>The web application allows you to search for Recipe 
        with either its name or its ingredients.
    </p>
</template>