header {
  background-color: orange; 
  color:white;  
  height: 135px;
  width: 100%;
}

.main-layout {
  padding: 10px;
  margin-right: 100px;
  margin-left: 300px;
}

body {
  padding: 10px;
  font-family: sans-serif;
}

footer {
  position: relative;
  align-content: center;
  margin-left: 100px;
  bottom: 0;
}

.new-recipe-container{
  background: #FFF;
  display: inline-block;
  width: 80%;
}

input,select,textarea {
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: solid 2px lightgray;
  font-weight: 700;
  width: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
} 

div.festives {
  font-size: 140%;
  margin-bottom: 80px;
}

.results {
  border: solid 2px lightgray;
  padding: 5px;
  margin-right: 150px;
}